.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row.content {height: 630px}

.sidenav {
    background-color: #c1c7c9;
    color: #000000;
    height: 100%;
    padding-top: 20px;
}

footer {
    background-color: #2e5564;
    color: #ffffff;
    padding: 20px;
}

@media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 20px;
    }
    .row.content {height:auto;} 
}